tags/extra-modules-2.2.0/java/components/extra-outputplugin-ws/src/main/wsdl/eXTra-plugins-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Schema module describing eXTra plugins and associated components
    
    @file    eXTra-plugins-1.xsd
    @author  [MS] Michael Schäfer, Statistisches Bundesamt
    @version 1.2.0
    @state   RELEASE
    @date    2011-09-12
    
    @changed 2011-09-12 1.3 MS / Set @state to RELEASE
    
-->
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xcode="http://www.extra-standard.de/namespace/codelists/1"
    xmlns:xcpt="http://www.extra-standard.de/namespace/components/1"
    xmlns="http://www.extra-standard.de/namespace/plugins/1"
    targetNamespace="http://www.extra-standard.de/namespace/plugins/1"
    attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    version="1.2.0">

    <!-- Import of code list declarations -->
    
    <xs:import namespace="http://www.extra-standard.de/namespace/codelists/1"
        schemaLocation="eXTra-codelists-1.xsd"/>
    
    <!-- Import of code list declarations -->
    
    <xs:import namespace="http://www.extra-standard.de/namespace/components/1"
        schemaLocation="eXTra-components-1.xsd"/>
    
    <!-- DataTransforms
        @changed 2010-07-04 1.2 MS + Added attribute @{link version} with value '1.2'
    -->

    <xs:complexType name="DataTransformsType">
        <xs:complexContent>
            <xs:extension base="AbstractPlugInType">
                <xs:sequence>
                    <xs:element name="Compression" type="CompressionType" minOccurs="0"
                        maxOccurs="unbounded"/>
                    <xs:element name="Encryption" type="EncryptionType" minOccurs="0"
                        maxOccurs="unbounded"/>
                    <xs:element name="Signature" type="SignatureType" minOccurs="0"
                        maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="version">
                    <xs:simpleType>
                        <xs:restriction base="xcpt:AbstractVersionType">
                            <xs:enumeration value="1.2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- AbstractTransformType
        An abstract base type for defining types describing some sort of transform.
        Attribute 'order' remains syntactically unchanged in version 1.1, but its
        semantics differ when used in conjunction with element 'TransformedData'.
        The content of attribute 'order' is then interpreted as an identifier of a
        transform rather than an index into a sequence of transforms, meaning that
        it does no longer specify the order in which transforms were performed on
        the data.
        Transform ids are placed inside the attribute TransformedData/@transfroms'
        in the order in which the transforms were applied to the data. Conversely,
        the order of transforms can be derived from the order of ids placed in the
        'transforms' attribute.
        
        When not used together with 'TransformedData', the semantics of attribute
        'order' are the same as in version 1.0. 
        
        @created 2009-05-04 1.1 MS
        @changed 2009-07-17 1.1 MS / Made type abstract
    -->
    <xs:complexType name="AbstractTransformType" abstract="true">
        <xs:attribute name="order" type="xs:positiveInteger" use="required"/>
    </xs:complexType>
    
    <!-- Certificates
        @changed 2010-07-04 1.2 MS + Added attribute @{link version} with value '1.0'
    -->
    <xs:complexType name="CertificatesType">
        <xs:complexContent>
            <xs:extension base="AbstractPlugInType">
                <xs:sequence>
                    <xs:element name="X509EncCertificate" type="X509CertificateType"
                        minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="version">
                    <xs:simpleType>
                        <xs:restriction base="xcpt:AbstractVersionType">
                            <xs:enumeration value="1.0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    
    <!-- ContactsType
        @created 2010-06-29 1.2 MS
        @changed 2010-07-04 1.2 MS + Added attribute @{link version} with value '1.0'
    -->
    <xs:complexType name="ContactsType">
        <xs:complexContent>
            <xs:extension base="AbstractPlugInType">
                <xs:sequence>
                    <xs:element name="SenderContact" type="ContactType"
                        minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="version">
                    <xs:simpleType>
                        <xs:restriction base="xcpt:AbstractVersionType">
                            <xs:enumeration value="1.0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- ContactType
        @created 2010-06-29 MS
    -->
    <xs:complexType name="ContactType">
        <xs:sequence>
            <xs:element name="Endpoint" type="EndpointType" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="usageHint" type="UsageHintType"/>
    </xs:complexType>
    
    <!-- EndpointType
        @created 2010-06-29 MS
    -->
    <xs:complexType name="EndpointType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="type" type="EndpointTypeType" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <!-- EndpointTypeType
        @created 2010-05-20 MS
    -->
    <xs:simpleType name="EndpointTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SMTP"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- CompressionType
        @changed 2009-05-04 MS / Now derived from ref:AbstractTransformType
                                 Moved attribute 'order' to ref:AbstractTransformType
    -->
    <xs:complexType name="CompressionType">
        <xs:complexContent>
            <xs:extension base="AbstractTransformType">
                <xs:sequence>
                    <xs:element name="Algorithm" type="CompressionAlgorithmType"/>
                    <xs:element name="InputData" type="DataType" minOccurs="0"/>
                    <xs:element name="OutputData" type="DataType" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- EncryptionType
        @changed 2009-05-04 MS / Now derived from ref:AbstractTransformType
                                 Moved attribute 'order' to ref:AbstractTransformType
    -->
    <xs:complexType name="EncryptionType">
        <xs:complexContent>
            <xs:extension base="AbstractTransformType">
                <xs:sequence>
                    <xs:element name="Algorithm" type="EncryptionAlgorithmType"/>
                    <xs:element name="InputData" type="DataType" minOccurs="0"/>
                    <xs:element name="OutputData" type="DataType" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- SignatureType
        @changed 2009-05-04 MS / Now derived from ref:AbstractTransformType
                                 Moved attribute 'order' to ref:AbstractTransformType
        @changed 2009-06-29 MS + Added element @{link X509Certificate}
    -->
    <xs:complexType name="SignatureType">
        <xs:complexContent>
            <xs:extension base="AbstractTransformType">
                <xs:sequence>
                    <xs:element name="Algorithm" type="SignatureAlgorithmType"/>
                    <xs:element name="X509Certificate" type="X509CertificateType"
                        minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CompressionAlgorithmType">
        <xs:complexContent>
            <xs:extension base="AbstractAlgorithmType">
                <xs:attribute name="id" type="xcode:CompressionAlgorithmCodeType" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="EncryptionAlgorithmType">
        <xs:complexContent>
            <xs:extension base="AbstractAlgorithmType">
                <xs:attribute name="id" type="xcode:EncryptionAlgorithmCodeType" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SignatureAlgorithmType">
        <xs:complexContent>
            <xs:extension base="AbstractAlgorithmType">
                <xs:attribute name="id" type="xcode:SignatureAlgorithmCodeType" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- TransformedDataType
        Represents transformed data as a base64 string. The 'transforms' attributes holds a
        list of ids that point to transforms described in a DataTransforms plugin that resides
        in the same document, package or message object. The ids must appear in the order in
        which the transforms were applied to the data.
        
        @created 2009-05-04 MS
    -->
    <xs:complexType name="TransformedDataType">
        <xs:simpleContent>
            <xs:extension base="xs:base64Binary">
                <xs:attribute name="transforms">
                    <xs:simpleType>
                        <xs:list itemType="TransformIDType"/>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <!-- TransformIDType
        Defines a data type for transform ids. Currently, a transform id must be an integer value
        for compatibility with the use of the @{link AbstractTransformType/@order} attribute
        established in version 1.0. This will remain so for all versions 1.x. From version
        2.0 on, this attribute will be replaced with @{link AbstractTransformType/@id}, and
        the type will be extended to accommodate a wider range of values.
        
        @created 2009-05-04 MS
    -->
    <xs:simpleType name="TransformIDType">
        <xs:restriction base="xs:integer"/>
    </xs:simpleType>
    
    <!-- DataSource
        @changed 2010-07-04 MS + Added attribute @{link version} with value '1.0'
    -->

    <xs:complexType name="DataSourceType">
        <xs:complexContent>
            <xs:extension base="AbstractPlugInType">
                <xs:sequence>
                    <xs:element name="DataContainer" type="DataContainerType"/>
                </xs:sequence>
                <xs:attribute name="version">
                    <xs:simpleType>
                        <xs:restriction base="xcpt:AbstractVersionType">
                            <xs:enumeration value="1.0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DataContainerType">
        <xs:sequence>
            <xs:element name="DataSet" type="DataSetType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="type" type="xcode:DataContainerCodeType" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="created" type="xs:dateTime" use="optional"/>
        <xs:attribute name="encoding" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="DataSetType">
        <xs:attribute name="type" type="xs:anyURI" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="lastModified" type="xs:dateTime" use="optional"/>
    </xs:complexType>

    <!--
        @created 2010-05-20 MS
    -->
    <xs:complexType name="AbstractX509CertificateType" abstract="true">
        <xs:sequence>
            <xs:element name="Value" type="xs:base64Binary"/>
        </xs:sequence>
    </xs:complexType>
    
    <!--
        @changed 2010-05-20 MS / Now derived from @{link AbstractX509CertificateType}
    -->
    <xs:complexType name="X509CertificateType">
        <xs:complexContent>
            <xs:extension base="AbstractX509CertificateType"/>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- Miscellaneous -->
    
    <!--  AbstractPlugInType
        @changed 2010-07-04 1.2 MS - Removed attribute version for allowing plug-in specific values
    -->

    <xs:complexType name="AbstractPlugInType" abstract="true">
        <!-- @deleted 2010-07-04 1.2 MS
             @{code %
            <xs:attribute name="version" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[1-9][0-9]*.[0-9]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            %}
        -->
    </xs:complexType>

    <xs:complexType name="AbstractAlgorithmType" abstract="true">
        <xs:sequence>
            <xs:element name="Specification" type="SpecificationType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="version" type="xs:string" use="optional"/>
    </xs:complexType>
    
    <xs:complexType name="SpecificationType">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="url" type="xs:anyURI" use="optional"/>
        <xs:attribute name="version" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="DataType">
        <xs:attribute name="bytes" type="xs:nonNegativeInteger" use="required"/>
    </xs:complexType>
    
    <!--
        @created 2010-05-20 MS
    -->
    <xs:simpleType name="UsageHintType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <!-- PlugIn root elements -->
    
    <!-- DataTransforms -->
    <xs:element name="DataTransforms" type="DataTransformsType"/>
    
    <!-- DataSource -->
    <xs:element name="DataSource" type="DataSourceType"/>
    
    <!-- Certificates -->
    <xs:element name="Certificates" type="CertificatesType"/>
    
    <!-- Contacts
        @created 2010-06-29 MS
    -->
    <xs:element name="Contacts" type="ContactsType"/>
    
    <!-- ===================== -->
    <!-- Deprecated components --> 
    <!-- ===================== -->
    
    <!-- CommunicationType
        @deprecated 1.1 MS
        @deleted 1.2 MS
        @{code %
        <xs:complexType name="CommunicationType">
            <xs:complexContent>
                <xs:extension base="AbstractPlugInType">
                    <xs:sequence>
                        <xs:element name="X509ReplyCertificate" type="X509ReplyCertificateType"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    %}
    -->
    
    <!-- X509ReplyCertificateType
        @deprecated 1.1 MS
        @deleted 1.2 MS
        @{code %
        <xs:complexType name="X509ReplyCertificateType">
            <xs:sequence>
                <xs:element name="Value" type="xs:base64Binary"/>
            </xs:sequence>
        </xs:complexType>
    %}
    -->
    
    <!-- Communication
        @deprecated 1.1 MS
        @deleted 1.2 MS
        @{code %
        <xs:element name="Communication" type="CommunicationType"/>
    %}
    -->
    
</xs:schema>
