tags/extra-modules-2.2.0/java/apps/extra-profiling/src/main/resources/resource/de/drv/dsrv/xtt/prof/xsd/request_all_xmldsig.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://www.w3.org/2000/09/xmldsig#" version="0.1" xmlns="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="SignatureType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="1" ref="SignedInfo"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="SignatureValue"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="KeyInfo"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="Object"/>
                </xs:sequence>
                <xs:attribute name="Id" type="xs:ID"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SignedInfoType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="1" ref="CanonicalizationMethod"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="SignatureMethod"/>
                    <xs:element maxOccurs="unbounded" minOccurs="1" ref="Reference"/>
                </xs:sequence>
                <xs:attribute name="Id" type="xs:ID"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CanonicalizationMethodType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:any maxOccurs="unbounded" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="Algorithm" type="xs:anyURI" use="required"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SignatureMethodType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="0" name="HMACOutputLength" type="HMACOutputLengthType"/>
                    <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other"/>
                </xs:sequence>
                <xs:attribute name="Algorithm" type="xs:anyURI" use="required"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ReferenceType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="0" ref="Transforms"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="DigestMethod"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="DigestValue"/>
                </xs:sequence>
                <xs:attribute name="Id" type="xs:ID"/>
                <xs:attribute name="Type" type="xs:anyURI"/>
                <xs:attribute name="URI" type="xs:anyURI"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TransformsType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="unbounded" minOccurs="1" ref="Transform"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TransformType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:any maxOccurs="1" minOccurs="1" namespace="##other" processContents="lax"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="XPath" type="xs:string"/>
                </xs:choice>
                <xs:attribute name="Algorithm" type="xs:anyURI" use="required"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DigestMethodType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
                </xs:sequence>
                <xs:attribute name="Algorithm" type="xs:anyURI" use="required"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="DigestValueType">
        <xs:restriction base="xs:base64Binary"/>
    </xs:simpleType>
    <xs:complexType name="SignatureValueType">
        <xs:simpleContent>
            <xs:extension base="xs:base64Binary">
                <xs:attribute name="Id" type="xs:ID"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="KeyInfoType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:choice maxOccurs="unbounded" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="1" ref="KeyName"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="KeyValue"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="RetrievalMethod"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="X509Data"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="PGPData"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="SPKIData"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="MgmtData"/>
                    <xs:any maxOccurs="1" minOccurs="1" namespace="##other" processContents="lax"/>
                </xs:choice>
                <xs:attribute name="Id" type="xs:ID"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="KeyValueType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:choice maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="1" ref="DSAKeyValue"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="RSAKeyValue"/>
                    <xs:any maxOccurs="1" minOccurs="1" namespace="##other" processContents="lax"/>
                </xs:choice>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DSAKeyValueType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:sequence maxOccurs="1" minOccurs="0">
                        <xs:element maxOccurs="1" minOccurs="1" name="P" type="CryptoBinary"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="Q" type="CryptoBinary"/>
                    </xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="G" type="CryptoBinary"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="Y" type="CryptoBinary"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="J" type="CryptoBinary"/>
                    <xs:sequence maxOccurs="1" minOccurs="0">
                        <xs:element maxOccurs="1" minOccurs="1" name="Seed" type="CryptoBinary"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="PgenCounter" type="CryptoBinary"/>
                    </xs:sequence>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RSAKeyValueType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="1" name="Modulus" type="CryptoBinary"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="Exponent" type="CryptoBinary"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RetrievalMethodType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="0" ref="Transforms"/>
                </xs:sequence>
                <xs:attribute name="Type" type="xs:anyURI"/>
                <xs:attribute name="URI" type="xs:anyURI"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="X509DataType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence maxOccurs="unbounded" minOccurs="1">
                    <xs:choice maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="1" name="X509IssuerSerial" type="X509IssuerSerialType"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="X509SKI" type="xs:base64Binary"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="X509SubjectName" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="X509Certificate" type="xs:base64Binary"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="X509CRL" type="xs:base64Binary"/>
                        <xs:any maxOccurs="1" minOccurs="1" namespace="##other" processContents="lax"/>
                    </xs:choice>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PGPDataType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:choice maxOccurs="1" minOccurs="1">
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="1" name="PGPKeyID" type="xs:base64Binary"/>
                        <xs:element maxOccurs="1" minOccurs="0" name="PGPKeyPacket" type="xs:base64Binary"/>
                        <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
                    </xs:sequence>
                    <xs:sequence maxOccurs="1" minOccurs="1">
                        <xs:element maxOccurs="1" minOccurs="1" name="PGPKeyPacket" type="xs:base64Binary"/>
                        <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
                    </xs:sequence>
                </xs:choice>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SPKIDataType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence maxOccurs="unbounded" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="1" name="SPKISexp" type="xs:base64Binary"/>
                    <xs:any maxOccurs="1" minOccurs="0" namespace="##other" processContents="lax"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ObjectType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence maxOccurs="unbounded" minOccurs="0">
                    <xs:any maxOccurs="1" minOccurs="1" processContents="lax"/>
                </xs:sequence>
                <xs:attribute name="Encoding" type="xs:anyURI"/>
                <xs:attribute name="Id" type="xs:ID"/>
                <xs:attribute name="MimeType" type="xs:string"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SignaturePropertiesType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="unbounded" minOccurs="1" ref="SignatureProperty"/>
                </xs:sequence>
                <xs:attribute name="Id" type="xs:ID"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SignaturePropertyType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:choice maxOccurs="unbounded" minOccurs="1">
                    <xs:any maxOccurs="1" minOccurs="1" namespace="##other" processContents="lax"/>
                </xs:choice>
                <xs:attribute name="Id" type="xs:ID"/>
                <xs:attribute name="Target" type="xs:anyURI" use="required"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ManifestType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="unbounded" minOccurs="1" ref="Reference"/>
                </xs:sequence>
                <xs:attribute name="Id" type="xs:ID"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="HMACOutputLengthType">
        <xs:restriction base="xs:integer"/>
    </xs:simpleType>
    <xs:simpleType name="CryptoBinary">
        <xs:restriction base="xs:base64Binary"/>
    </xs:simpleType>
    <xs:complexType name="X509IssuerSerialType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="1" name="X509IssuerName" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="X509SerialNumber" type="xs:integer"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Signature" type="SignatureType"/>
    <xs:element name="SignedInfo" type="SignedInfoType"/>
    <xs:element name="CanonicalizationMethod" type="CanonicalizationMethodType"/>
    <xs:element name="SignatureMethod" type="SignatureMethodType"/>
    <xs:element name="Reference" type="ReferenceType"/>
    <xs:element name="Transforms" type="TransformsType"/>
    <xs:element name="Transform" type="TransformType"/>
    <xs:element name="DigestMethod" type="DigestMethodType"/>
    <xs:element name="DigestValue" type="DigestValueType"/>
    <xs:element name="SignatureValue" type="SignatureValueType"/>
    <xs:element name="KeyInfo" type="KeyInfoType"/>
    <xs:element name="KeyName" type="xs:string"/>
    <xs:element name="KeyValue" type="KeyValueType"/>
    <xs:element name="DSAKeyValue" type="DSAKeyValueType"/>
    <xs:element name="RSAKeyValue" type="RSAKeyValueType"/>
    <xs:element name="RetrievalMethod" type="RetrievalMethodType"/>
    <xs:element name="X509Data" type="X509DataType"/>
    <xs:element name="PGPData" type="PGPDataType"/>
    <xs:element name="SPKIData" type="SPKIDataType"/>
    <xs:element name="MgmtData" type="xs:string"/>
    <xs:element name="Object" type="ObjectType"/>
    <xs:element name="SignatureProperties" type="SignaturePropertiesType"/>
    <xs:element name="SignatureProperty" type="SignaturePropertyType"/>
    <xs:element name="Manifest" type="ManifestType"/>
</xs:schema>