tags/extra-modules-1.0.0/java/apps/extra-profiling/src/main/resources/resource/de/drv/dsrv/xtt/prof/xsd/response_all_components.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.extra-standard.de/namespace/components/1" version="1.1.0" xmlns="http://www.extra-standard.de/namespace/components/1" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xcode="http://www.extra-standard.de/namespace/codelists/1" xmlns:xplg="http://www.extra-standard.de/namespace/plugins/1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="http://www.extra-standard.de/namespace/codelists/1" schemaLocation="response_all_codelists.xsd"/>
    <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="response_all_xmldsig.xsd"/>
    <xs:import namespace="http://www.extra-standard.de/namespace/plugins/1" schemaLocation="response_all_plugins.xsd"/>
    <xs:complexType abstract="true" name="RootElementType">
        <xs:complexContent>
            <xs:extension base="ElementWithVersionType">
                <xs:attribute name="profile" type="ProfileIDType" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType abstract="true" name="ElementWithVersionType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:attribute name="version" type="SupportedVersionsType" use="required"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType abstract="true" name="ElementWithOptionalVersionType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:attribute name="version" type="SupportedVersionsType"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SenderType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="1" ref="SenderID"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="Name"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ClassifiableIDType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="class" type="SimpleClassType"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="TextType">
        <xs:simpleContent>
            <xs:extension base="xs:string"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="ReceiverType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="1" ref="ReceiverID"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="Name"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RequestDetailsType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="1" ref="RequestID"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="TimeStamp"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="Application"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="Procedure"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="DataType"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="Scenario"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ApplicationType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="1" ref="Product"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="Manufacturer"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="RegistrationID"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="SimpleStringType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="SimpleNameType">
        <xs:restriction base="xs:token"/>
    </xs:simpleType>
    <xs:simpleType name="SimpleURIencodableType">
        <xs:restriction base="xs:anyURI"/>
    </xs:simpleType>
    <xs:simpleType name="ScenarioType">
        <xs:restriction base="xcode:ScenarioCodeType"/>
    </xs:simpleType>
    <xs:complexType name="ResponseDetailsType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="1" ref="ResponseID"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="TimeStamp"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="Application"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="Report"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ReportType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="Flag"/>
                </xs:sequence>
                <xs:attribute name="highestWeight" type="xcode:WeightCodeType" use="required"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="FlagType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="1" ref="Code"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="Text"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="Stack"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="XPath"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="Originator"/>
                </xs:sequence>
                <xs:attribute name="weight" type="xcode:WeightCodeType" use="required"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="FlagCodeType">
        <xs:simpleContent>
            <xs:extension base="xs:string"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="AnyPlugInContainerType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:any maxOccurs="unbounded" minOccurs="0" namespace="http://www.extra-standard.de/namespace/plugins/1"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DataType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:choice maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="1" ref="CharSequence"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="Base64CharSequence"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="ElementSequence"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="AnyXML"/>
                </xs:choice>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CharSequenceType">
        <xs:simpleContent>
            <xs:extension base="xs:string"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="Base64CharSequenceType">
        <xs:simpleContent>
            <xs:extension base="xs:base64Binary"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="ElementSequenceType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:any maxOccurs="unbounded" minOccurs="1" processContents="lax"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AnyXMLType">
        <xs:complexContent>
            <xs:extension base="xs:anyType">
                <xs:anyAttribute processContents="skip"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="ProcessIDType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="ClassifiableStringType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="class" type="SimpleClassType"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="PropertyType">
        <xs:simpleContent>
            <xs:extension base="SimpleStringType">
                <xs:attribute name="name" type="xs:token"/>
                <xs:attribute default="xs:string" name="type" type="xcode:XSDPrefixedTypeCodes"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="XMLFragmentType">
        <xs:complexContent>
            <xs:extension base="AnyXMLType">
                <xs:attribute name="documentReference" type="xs:string"/>
                <xs:attribute name="id" type="xs:string"/>
                <xs:attribute name="xpath" type="xs:string"/>
                <xs:anyAttribute processContents="skip"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SignaturesType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="ds:Signature"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="ProfileIDType">
        <xs:restriction base="SimpleURIencodableType"/>
    </xs:simpleType>
    <xs:simpleType name="SupportedVersionsType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1.0"/>
            <xs:enumeration value="1.1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SimpleClassType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="SimpleIDType">
        <xs:restriction base="xs:token"/>
    </xs:simpleType>
    <xs:simpleType name="SimpleTypeType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="TestIndicator" type="xcode:TestIndicatorCodeType"/>
    <xs:element name="Sender" type="SenderType"/>
    <xs:element name="SenderID" type="ClassifiableIDType"/>
    <xs:element name="Name" type="TextType"/>
    <xs:element name="Receiver" type="ReceiverType"/>
    <xs:element name="ReceiverID" type="ClassifiableIDType"/>
    <xs:element name="RequestDetails" type="RequestDetailsType"/>
    <xs:element name="RequestID" type="ClassifiableIDType"/>
    <xs:element name="TimeStamp" type="xs:dateTime"/>
    <xs:element name="Application" type="ApplicationType"/>
    <xs:element name="Product" type="TextType"/>
    <xs:element name="Manufacturer" type="SimpleStringType"/>
    <xs:element name="RegistrationID" type="ClassifiableIDType"/>
    <xs:element name="Procedure" type="SimpleNameType"/>
    <xs:element name="DataType" type="SimpleURIencodableType"/>
    <xs:element name="Scenario" type="ScenarioType"/>
    <xs:element name="ResponseDetails" type="ResponseDetailsType"/>
    <xs:element name="ResponseID" type="ClassifiableIDType"/>
    <xs:element name="Report" type="ReportType"/>
    <xs:element name="Flag" type="FlagType"/>
    <xs:element name="Code" type="FlagCodeType"/>
    <xs:element name="Text" type="TextType"/>
    <xs:element name="Stack" type="TextType"/>
    <xs:element name="XPath" type="TextType"/>
    <xs:element name="Originator" type="TextType"/>
    <xs:element name="TransformedData" type="xplg:TransformedDataType"/>
    <xs:element name="Data" type="DataType"/>
    <xs:element name="CharSequence" type="CharSequenceType"/>
    <xs:element name="Base64CharSequence" type="Base64CharSequenceType"/>
    <xs:element name="ElementSequence" type="ElementSequenceType"/>
    <xs:element name="AnyXML" type="AnyXMLType"/>
    <xs:element name="ComponentID" type="SimpleStringType"/>
    <xs:element name="ProcessID" type="ProcessIDType"/>
    <xs:element name="Property" type="PropertyType"/>
    <xs:element name="XMLFragment" type="XMLFragmentType"/>
    <xs:element name="Signatures" type="SignaturesType"/>
</xs:schema>