trunk/java/components/extra-schema/src/main/resources/xsd/eXTra-codelists-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Schema module describing eXTra codelists
    
    @file    eXTra-codelists-1.xsd
    @author  [MS] Michael Schäfer, Statistisches Bundesamt
    @version 1.3.0
    @state   RELEASE
    @date    2011-09-12
    
    @changed 2009-07-17 1.1 MS - Removed XHTML namespace
    @changed 2010-07-04 1.2 MS + Added EnpointCodeType
    @changed 2011-06-17 1.2 MS + Added DataTypeCodeType
    @changed 2011-06-17 1.2 MS + Added DataTypeCodeType
    @changed 2011-08-22 1.3 MS / Changed 'RepeatResponseRequest' to 'RepeatResponse'
    @changed 2011-09-12 1.3 MS / Set schema version to 1.3
-->
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.extra-standard.de/namespace/codelists/1"
    targetNamespace="http://www.extra-standard.de/namespace/codelists/1"
    attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    version="1.3.0">
    
    <!--
        @changed 2009-07-17 MS / Changed base type to xs:anyURI
        @changed 2009-07-17 MS + Added fallback pattern
    -->
    <xs:simpleType name="ScenarioCodeType">
        <xs:annotation>
            <xs:documentation>
                A list of extensible codes denoting the communication scenario as defined by the sender of a request.
                Base values:
                - http://www.extra-standard.de/scenario/fire-and-forget
                - http://www.extra-standard.de/scenario/request-with-response
                - http://www.extra-standard.de/scenario/request-with-acknowledgement
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:anyURI">
            <xs:pattern value="http://www.extra-standard.de/scenario/(fire-and-forget|request-with-response|request-with-acknowledgement)(#[a-zA-Z0-9]([.\-][a-zA-Z0-9]+)*)?"/>
            <xs:pattern value=".+"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="CompressionAlgorithmCodeType">
        <xs:annotation>
            <xs:documentation>
                A list of extensible codes denoting a compression algorithm. In  addition,
                any URI outside the www.extra-standard.de domain may be used.
                Base values:
                - http://www.extra-standard.de/transforms/compression/NONE
                - http://www.extra-standard.de/transforms/compression/GZIP
                - http://www.extra-standard.de/transforms/compression/ZIP
                - http://www.extra-standard.de/transforms/compression/JET
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:anyURI">
            <xs:pattern value="http://www.extra-standard.de/transforms/compression/(NONE|GZIP|ZIP|JET)(#[a-zA-Z0-9]([.\-][a-zA-Z0-9]+)*)?"/>
            <xs:pattern value=".+"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="EncryptionAlgorithmCodeType">
        <xs:annotation>
            <xs:documentation>
                A list of extensible codes denoting an encryption algorithm. In  addition,
                any URI outside the www.extra-standard.de domain may be used.
                Base values:
                - http://www.extra-standard.de/transforms/encryption/NONE
                - http://www.extra-standard.de/transforms/encryption/PKCS7
                - http://www.extra-standard.de/transforms/encryption/PEM
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:anyURI">
            <xs:pattern value="http://www.extra-standard.de/transforms/encryption/(NONE|PKCS7|PEM)(#[a-zA-Z0-9]([.\-][a-zA-Z0-9]+)*)?"/>
            <xs:pattern value=".+"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!--
        @changed 2009-07-15 MS / Replaced 'encryption' with 'signature' in comment and pattern
    -->
    <xs:simpleType name="SignatureAlgorithmCodeType">
        <xs:annotation>
            <xs:documentation>
                A list of extensible codes denoting a signature algorithm. In  addition,
                any URI outside the www.extra-standard.de domain may be used.
                Base values:
                - http://www.extra-standard.de/transforms/signature/NONE
                - http://www.extra-standard.de/transforms/signature/PKCS7
                - http://www.extra-standard.de/transforms/signature/PEM
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:anyURI">
            <xs:pattern value="http://www.extra-standard.de/transforms/signature/(NONE|PKCS7|PEM)(#[a-zA-Z0-9]([.\-][a-zA-Z0-9]+)*)?"/>
            <xs:pattern value=".+"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="WeightCodeType">
        <xs:annotation>
            <xs:documentation>
                A list of extensible codes denoting the weight of a flag in a response' processing report.
                Base values:
                - http://www.extra-standard.de/weight/OK
                - http://www.extra-standard.de/weight/INFO
                - http://www.extra-standard.de/weight/WARNING
                - http://www.extra-standard.de/weight/ERROR
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:anyURI">
            <xs:pattern value="http://www.extra-standard.de/weight/(OK|INFO|WARNING|ERROR)(#[a-zA-Z0-9]([.\-][a-zA-Z0-9]+)*)?"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!--
        @changed 2009-07-15 MS + Added enum value 'ACCEPT' 
    -->
    <xs:simpleType name="TestIndicatorCodeType">
        <xs:annotation>
            <xs:documentation>
                A list of extensible codes denoting the handling of test messages as set by the sender of an request.
                Base values:
                - http://www.extra-standard.de/test/NONE
                - http://www.extra-standard.de/test/RECEIVE
                - http://www.extra-standard.de/test/PROCESS
                - http://www.extra-standard.de/test/ACCEPT
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:anyURI">
            <xs:pattern value="http://www.extra-standard.de/test/(NONE|RECEIVE|PROCESS|ACCEPT)(#[a-zA-Z0-9]([.\-][a-zA-Z0-9]+)*)?"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="UsageCodeType">
        <xs:annotation>
            <xs:documentation>
                A list of extensible codes denoting the usage of a parameter or object to be logged.
                Base values:
                - http://www.extra-standard.de/usage/UNDEFINED
                - http://www.extra-standard.de/usage/IN
                - http://www.extra-standard.de/usage/OUT
                - http://www.extra-standard.de/usage/INOUT
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:anyURI">
            <xs:pattern value="http://www.extra-standard.de/usage/(UNDEFINED|IN|OUT|INOUT)(#[a-zA-Z0-9]([.\-][a-zA-Z0-9]+)*)?"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="OperationCodeType">
        <xs:annotation>
            <xs:documentation>
                A list of extensible codes denoting an operation to be logged.
                Base values:
                - http://www.extra-standard.de/operation/UNDEFINED
                - http://www.extra-standard.de/operation/SEND
                - http://www.extra-standard.de/operation/RECEIVE
                - http://www.extra-standard.de/operation/ENCRYPT
                - http://www.extra-standard.de/operation/DECRYPT
                - http://www.extra-standard.de/operation/COMPRESS
                - http://www.extra-standard.de/operation/DECOMPRESS
                - http://www.extra-standard.de/operation/VALIDATE
                - http://www.extra-standard.de/operation/SIGN
                - http://www.extra-standard.de/operation/CHECK-SIGNATURE
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:anyURI">
            <xs:pattern value="http://www.extra-standard.de/operation/(UNDEFINED|SEND|RECEIVE|ENCRYPT|DECRYPT|COMPRESS|DECOMPRESS|VALIDATE|SIGN|CHECK-SIGNATURE)(#[a-zA-Z0-9]([.\-][a-zA-Z0-9]+)*)?"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="DataContainerCodeType">
        <xs:annotation>
            <xs:documentation>
                A list of extensible codes denoting a data container type.
                Base values:
                - http://www.extra-standard.de/container/DATABASE
                - http://www.extra-standard.de/container/FILE
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:anyURI">
            <xs:pattern value="http://www.extra-standard.de/container/(DATABASE|FILE)(#[a-zA-Z0-9]([.\-][a-zA-Z0-9]+)*)?"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- @created 2010-07-04 MS
    -->
    <xs:simpleType name="EndpointCodeType">
        <xs:annotation>
            <xs:documentation>
                A list of extensible codes denoting a contact endpoint type. In  addition,
                any URI outside the www.extra-standard.de domain may be used.
                Base values:
                - http://www.extra-standard.de/endpoint/SMTP
                - http://www.extra-standard.de/endpoint/PHONE
                - http://www.extra-standard.de/endpoint/URL
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:anyURI">
            <xs:pattern value="http://www.extra-standard.de/endpoint/(SMTP|PHONE|URL)(#[a-zA-Z0-9]([.\-][a-zA-Z0-9]+)*)?"/>
            <xs:pattern value=".+"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- @created 2011-06-17 1.3.0 MS
         @changed 2011-08-22 1.3.0 MS / Changed 'RepeatResponseRequest' to 'RepeatResponse'
    -->
    <xs:simpleType name="DataTypeCodeType">
        <xs:annotation>
            <xs:documentation>
                A list of extensible codes denoting a data type. In  addition,
                any URI outside the www.extra-standard.de domain may be used.
                Base values:
                - http://www.extra-standard.de/datatype/RepeatResponse
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:anyURI">
            <xs:pattern value="http://www.extra-standard.de/datatype/(RepeatResponse)"/>
            <xs:pattern value=".+"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="XSDPrefixedTypeCodes">
        <xs:annotation>
            <xs:documentation>
                A list of prefixed XSD atomic type names
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:QName">
            
            <!-- Strings and names -->
            
            <xs:enumeration value="xs:string"/>
            <xs:enumeration value="xs:normalizedString"/>
            <xs:enumeration value="xs:token"/>
            <xs:enumeration value="xs:Name"/>
            <xs:enumeration value="xs:NCName"/>
            <xs:enumeration value="xs:QName"/>
            <xs:enumeration value="xs:language"/>
            
            <!-- Numeric -->
            
            <xs:enumeration value="xs:float"/>
            <xs:enumeration value="xs:double"/>
            <xs:enumeration value="xs:decimal"/>
            <xs:enumeration value="xs:integer"/>
            <xs:enumeration value="xs:long"/>
            <xs:enumeration value="xs:int"/>
            <xs:enumeration value="xs:short"/>
            <xs:enumeration value="xs:byte"/>
            <xs:enumeration value="xs:positiveInteger"/>
            <xs:enumeration value="xs:nonPositiveInteger"/>
            <xs:enumeration value="xs:negativeInteger"/>
            <xs:enumeration value="xs:nonNegativeInteger"/>
            <xs:enumeration value="xs:unsignedLong"/>
            <xs:enumeration value="xs:unsignedInt"/>
            <xs:enumeration value="xs:unsignedShort"/>
            <xs:enumeration value="xs:unsignedByte"/>
            
            <!-- Date and time -->
            
            <xs:enumeration value="xs:duration"/>
            <xs:enumeration value="xs:dateTime"/>
            <xs:enumeration value="xs:date"/>
            <xs:enumeration value="xs:time"/>
            <xs:enumeration value="xs:gYear"/>
            <xs:enumeration value="xs:gMonth"/>
            <xs:enumeration value="xs:gYearMonth"/>
            <xs:enumeration value="xs:gMonthDay"/>
            <xs:enumeration value="xs:gDay"/>
            
            <!-- legacy types -->
            
            <xs:enumeration value="xs:ID"/>
            <xs:enumeration value="xs:IDREF"/>
            <xs:enumeration value="xs:IDREFS"/>
            <xs:enumeration value="xs:ENTITY"/>
            <xs:enumeration value="xs:ENITIES"/>
            <xs:enumeration value="xs:NMTOKEN"/>
            <xs:enumeration value="xs:NMTOKENS"/>
            <xs:enumeration value="xs:NOTATION"/>
            
            <!-- Other -->
            
            <xs:enumeration value="xs:boolean"/>
            <xs:enumeration value="xs:hexBinary"/>
            <xs:enumeration value="xs:base64Binary"/>
            <xs:enumeration value="xs:anyURI"/>
            
        </xs:restriction>
    </xs:simpleType>
    
</xs:schema>