java/apps/extra-profiling/src/main/resources/resource/de/drv/dsrv/xtt/prof/xsd/response_all_plugins.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.extra-standard.de/namespace/plugins/1" version="1.1.0" xmlns="http://www.extra-standard.de/namespace/plugins/1" xmlns:xcode="http://www.extra-standard.de/namespace/codelists/1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="http://www.extra-standard.de/namespace/codelists/1" schemaLocation="response_all_codelists.xsd"/>
    <xs:complexType name="DataTransformsType">
        <xs:complexContent>
            <xs:extension base="AbstractPlugInType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Compression" type="CompressionType"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Encryption" type="EncryptionType"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Signature" type="SignatureType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType abstract="true" name="AbstractPlugInType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:attribute name="version" use="required">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[1-9][0-9]*.[0-9]+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DataSourceType">
        <xs:complexContent>
            <xs:extension base="AbstractPlugInType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="1" name="DataContainer" type="DataContainerType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CommunicationType">
        <xs:complexContent>
            <xs:extension base="AbstractPlugInType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="1" name="X509ReplyCertificate" type="X509ReplyCertificateType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CertificatesType">
        <xs:complexContent>
            <xs:extension base="AbstractPlugInType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="1" name="X509EncCertificate" type="X509CertificateType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TransformedDataType">
        <xs:simpleContent>
            <xs:extension base="xs:base64Binary">
                <xs:attribute name="transforms">
                    <xs:simpleType>
                        <xs:list itemType="TransformIDType"/>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="CompressionType">
        <xs:complexContent>
            <xs:extension base="AbstractTransformType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="1" name="Algorithm" type="CompressionAlgorithmType"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="InputData" type="DataType"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="OutputData" type="DataType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType abstract="true" name="AbstractTransformType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:attribute name="order" type="xs:positiveInteger" use="required"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EncryptionType">
        <xs:complexContent>
            <xs:extension base="AbstractTransformType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="1" name="Algorithm" type="EncryptionAlgorithmType"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="InputData" type="DataType"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="OutputData" type="DataType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SignatureType">
        <xs:complexContent>
            <xs:extension base="AbstractTransformType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="1" name="Algorithm" type="SignatureAlgorithmType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DataContainerType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="0" name="DataSet" type="DataSetType"/>
                </xs:sequence>
                <xs:attribute name="created" type="xs:dateTime"/>
                <xs:attribute name="encoding" type="xs:string"/>
                <xs:attribute name="name" type="xs:string" use="required"/>
                <xs:attribute name="type" type="xcode:DataContainerCodeType" use="required"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="X509ReplyCertificateType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:base64Binary"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="X509CertificateType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:base64Binary"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="TransformIDType">
        <xs:restriction base="xs:integer"/>
    </xs:simpleType>
    <xs:complexType name="CompressionAlgorithmType">
        <xs:complexContent>
            <xs:extension base="AbstractAlgorithmType">
                <xs:attribute name="id" type="xcode:CompressionAlgorithmCodeType" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType abstract="true" name="AbstractAlgorithmType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="0" name="Specification" type="SpecificationType"/>
                </xs:sequence>
                <xs:attribute name="name" type="xs:string"/>
                <xs:attribute name="version" type="xs:string"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DataType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:attribute name="bytes" type="xs:nonNegativeInteger" use="required"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EncryptionAlgorithmType">
        <xs:complexContent>
            <xs:extension base="AbstractAlgorithmType">
                <xs:attribute name="id" type="xcode:EncryptionAlgorithmCodeType" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SignatureAlgorithmType">
        <xs:complexContent>
            <xs:extension base="AbstractAlgorithmType">
                <xs:attribute name="id" type="xcode:SignatureAlgorithmCodeType" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DataSetType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:attribute name="lastModified" type="xs:dateTime"/>
                <xs:attribute name="name" type="xs:string"/>
                <xs:attribute name="type" type="xs:anyURI"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SpecificationType">
        <xs:complexContent>
            <xs:restriction base="xs:anyType">
                <xs:attribute name="name" type="xs:string" use="required"/>
                <xs:attribute name="url" type="xs:anyURI"/>
                <xs:attribute name="version" type="xs:string"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="DataTransforms" type="DataTransformsType"/>
    <xs:element name="DataSource" type="DataSourceType"/>
    <xs:element name="Communication" type="CommunicationType"/>
    <xs:element name="Certificates" type="CertificatesType"/>
</xs:schema>