tags/extra-modules-1.0.1/java/apps/extra-profiling/src/main/resources/resource/de/drv/dsrv/xtt/prof/xsd/request_all_request.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.extra-standard.de/namespace/request/1" version="1.1.0" xmlns="http://www.extra-standard.de/namespace/request/1" xmlns:xcpt="http://www.extra-standard.de/namespace/components/1" xmlns:xenc="http://www.w3.org/2001/04/xmlenc#" xmlns:xlog="http://www.extra-standard.de/namespace/logging/1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="http://www.extra-standard.de/namespace/components/1" schemaLocation="request_all_components.xsd"/>
    <xs:import namespace="http://www.extra-standard.de/namespace/logging/1" schemaLocation="request_all_logging.xsd"/>
    <xs:import namespace="http://www.w3.org/2001/04/xmlenc#" schemaLocation="request_all_xenc.xsd"/>
    <xs:complexType name="TransportRequestType">
        <xs:complexContent>
            <xs:extension base="xcpt:RootElementType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="1" ref="TransportHeader"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="TransportPlugIns"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="TransportBody"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="xlog:Logging"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="xcpt:Signatures"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TransportRequestHeaderType">
        <xs:complexContent>
            <xs:extension base="xcpt:ElementWithOptionalVersionType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="0" ref="xcpt:TestIndicator"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="xcpt:Sender"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="xcpt:Receiver"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="xcpt:RequestDetails"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TransportRequestBodyType">
        <xs:complexContent>
            <xs:extension base="xcpt:ElementWithOptionalVersionType">
                <xs:choice maxOccurs="1" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="1" ref="xenc:EncryptedData"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="xcpt:TransformedData"/>
                    <xs:element maxOccurs="unbounded" minOccurs="1" ref="Package"/>
                    <xs:element maxOccurs="unbounded" minOccurs="1" ref="Message"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="xcpt:Data"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PackageRequestType">
        <xs:complexContent>
            <xs:extension base="xcpt:ElementWithOptionalVersionType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="1" ref="PackageHeader"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="PackagePlugIns"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="PackageBody"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="xlog:Logging"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="xcpt:Signatures"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PackageRequestHeaderType">
        <xs:complexContent>
            <xs:extension base="xcpt:ElementWithOptionalVersionType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="0" ref="xcpt:TestIndicator"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="xcpt:Sender"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="xcpt:Receiver"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="xcpt:RequestDetails"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PackageRequestBodyType">
        <xs:complexContent>
            <xs:extension base="xcpt:ElementWithOptionalVersionType">
                <xs:choice maxOccurs="1" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="1" ref="xenc:EncryptedData"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="xcpt:TransformedData"/>
                    <xs:element maxOccurs="unbounded" minOccurs="1" ref="Message"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="xcpt:Data"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MessageRequestType">
        <xs:complexContent>
            <xs:extension base="xcpt:ElementWithOptionalVersionType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="1" ref="MessageHeader"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="MessagePlugIns"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="MessageBody"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="xlog:Logging"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="xcpt:Signatures"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MessageRequestHeaderType">
        <xs:complexContent>
            <xs:extension base="xcpt:ElementWithOptionalVersionType">
                <xs:sequence maxOccurs="1" minOccurs="1">
                    <xs:element maxOccurs="1" minOccurs="0" ref="xcpt:TestIndicator"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="xcpt:Sender"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="xcpt:Receiver"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="xcpt:RequestDetails"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MessageRequestBodyType">
        <xs:complexContent>
            <xs:extension base="xcpt:ElementWithOptionalVersionType">
                <xs:choice maxOccurs="1" minOccurs="0">
                    <xs:element maxOccurs="1" minOccurs="1" ref="xenc:EncryptedData"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="xcpt:TransformedData"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="xcpt:Data"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="XMLTransport" type="TransportRequestType"/>
    <xs:element name="TransportHeader" type="TransportRequestHeaderType"/>
    <xs:element name="TransportPlugIns" type="xcpt:AnyPlugInContainerType"/>
    <xs:element name="TransportBody" type="TransportRequestBodyType"/>
    <xs:element name="Package" type="PackageRequestType"/>
    <xs:element name="PackageHeader" type="PackageRequestHeaderType"/>
    <xs:element name="PackagePlugIns" type="xcpt:AnyPlugInContainerType"/>
    <xs:element name="PackageBody" type="PackageRequestBodyType"/>
    <xs:element name="Message" type="MessageRequestType"/>
    <xs:element name="MessageHeader" type="MessageRequestHeaderType"/>
    <xs:element name="MessagePlugIns" type="xcpt:AnyPlugInContainerType"/>
    <xs:element name="MessageBody" type="MessageRequestBodyType"/>
</xs:schema>