java/components/extra-schema/src/main/resources/xsd/eXTra-components-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Schema module describing shared eXTra components
    
    @file    eXTra-components-1.xsd
    @author  [MS] Michael Schäfer, Statistisches Bundesamt
    @version 1.3.0
    @state   RELEASE
    @date    2011-09-12
    
    @changed 2009-07-17 1.1 MS - Removed XHTML namespace
    @changed 2010-02-21 MS + Added version '1.2'
    @changed 2010-07-04 MS / Restricted version identifier to '1.2'
    @changed 2010-07-12 MS / Made 'ResponseDetailsType' non-abstract
    @changed 2011-06-17 MS / Changed type of element 'DataType' to 'xcode:DataTypeCodeType'
    @changed 2010-09-12 1.3 MS - Added values '1.0', 1.1', 1.3'
    @changed 2011-09-12 1.3 MS / Set schema version to 1.3
    
-->
<xs:schema
    targetNamespace="http://www.extra-standard.de/namespace/components/1"
    xmlns="http://www.extra-standard.de/namespace/components/1"
    xmlns:xcode="http://www.extra-standard.de/namespace/codelists/1"
    xmlns:xplg="http://www.extra-standard.de/namespace/plugins/1"
    xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    version="1.3.0">
    
    <!-- Import eXTra code lists -->
    
    <xs:import namespace="http://www.extra-standard.de/namespace/codelists/1" schemaLocation="eXTra-codelists-1.xsd"/>
    
    <!-- Import eXTra plug-ins -->
    
    <xs:import namespace="http://www.extra-standard.de/namespace/plugins/1" schemaLocation="eXTra-plugins-1.xsd"/>
    
    <!-- Import XML Signature namespace -->
    
    <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
    
    <!-- Simple content types -->
    
    <xs:simpleType name="AbstractVersionType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[1-9][0-9]*.[0-9]+"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- @changed 2009-09-09 1.1 MS + Added value '1.1'
         @changed 2010-02-21 1.2 MS + Added value '1.2'
         @changed 2010-07-04 1.2 MS - Removed values < '1.2'
         @changed 2010-09-12 1.3 MS - Added values '1.0', 1.1', 1.3'
    -->
    <xs:simpleType name="SupportedVersionsType">
        <xs:restriction base="AbstractVersionType">
            <!-- @deleted 2010-07-04 1.2 MS
                @{code %
                <xs:enumeration value="1.0"/>
                <xs:enumeration value="1.1"/>
                %}
            -->
            <xs:enumeration value="1.0"/>
            <xs:enumeration value="1.1"/>
            <xs:enumeration value="1.2"/>
            <xs:enumeration value="1.3"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="ProfileIDType">
        <xs:restriction base="SimpleURIencodableType"/>
    </xs:simpleType>
    
    <xs:simpleType name="ScenarioType">
        <xs:annotation>
            <xs:documentation>
                Any valid URI is permitted to indicate the choosen scenario. However, it is
                recommended to use one of following predefined values:
                - http://www.extra-standard.de/scenario/fire-and-forget
                - http://www.extra-standard.de/scenario/request-with-response
                - http://www.extra-standard.de/scenario/request-with-acknowlegdement
                Each of these values may be extended by appending a '#' character and any
                URI compatible value to it, such as in:
                - http://www.extra-standard.de/scenario/request-with-response#noSig
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xcode:ScenarioCodeType"/>
    </xs:simpleType>
    
    <xs:simpleType name="ProcessIDType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    
    <xs:simpleType name="SimpleIDType">
        <xs:restriction base="xs:token"/>
    </xs:simpleType>
    
    <xs:simpleType name="SimpleClassType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    
    <xs:simpleType name="SimpleNameType">
        <xs:restriction base="xs:token"/>
    </xs:simpleType>
    
    <xs:simpleType name="SimpleTypeType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    
    <xs:simpleType name="SimpleStringType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    
    <xs:complexType name="PropertyType">
        <xs:simpleContent>
            <xs:extension base="SimpleStringType">
                <xs:attribute name="type" type="xcode:XSDPrefixedTypeCodes" default="xs:string"/>
                <xs:attribute name="name" type="xs:token"/>
            </xs:extension>
        </xs:simpleContent>
        
    </xs:complexType>
    
    <xs:complexType name="TextType">
        <xs:simpleContent>
            <xs:extension base="xs:string" />
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="ClassifiableStringType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="class" type="SimpleClassType" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="ClassifiableIDType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="class" type="SimpleClassType" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="SimpleURIencodableType">
        <xs:restriction base="xs:anyURI"/>
    </xs:simpleType>

    <xs:complexType name="FlagCodeType">
        <xs:simpleContent>
            <xs:extension base="xs:string" />
        </xs:simpleContent>
    </xs:complexType>
    
    <!-- Complex content types -->
    
    <!-- @deleted 2010-07-04 1.2 MS
         @{code %
        <xs:complexType name="ElementWithVersionType" abstract="true">
            <xs:attribute name="version" type="SupportedVersionsType" use="required"/>
        </xs:complexType>
        %}         
    -->
    
    <!-- @changed 2010-07-04 1.2 MS / Type of version changed from SupportedVersionsType
                                      to AbstractVersionType
        @{code %
        <xs:complexType name="ElementWithOptionalVersionType" abstract="true">
            <xs:attribute name="version" type="SupportedVersionsType" use="optional"/>
        </xs:complexType>
        %}         
    -->
    <xs:complexType name="ElementWithOptionalVersionType" abstract="true">
        <xs:attribute name="version" type="AbstractVersionType" use="optional"/>
    </xs:complexType>
    
    <!-- @changed 2010-07-04 1.2 MS - Removed dependency on ElementWithVersionType
        @{code %
        <xs:complexType name="RootElementType" abstract="true">
            <xs:complexContent>
                <xs:extension base="ElementWithVersionType">
                    <xs:attribute name="profile" type="ProfileIDType" use="required"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
        %}         
    -->
    <xs:complexType name="RootElementType" abstract="true">
        <xs:attribute name="version" type="SupportedVersionsType" use="required"/>
        <xs:attribute name="profile" type="ProfileIDType" use="required"/>
    </xs:complexType>
    
    <xs:complexType name="ApplicationType">
        <xs:sequence>
            <xs:element ref="Product" minOccurs="1" maxOccurs="1" />
            <xs:element ref="Manufacturer" minOccurs="0" maxOccurs="1" />
            <xs:element ref="RegistrationID" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ReceiverType">
        <xs:sequence>
            <xs:element ref="ReceiverID" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="Name" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SenderType">
        <xs:sequence>
            <xs:element ref="SenderID" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="Name" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RequestDetailsType">
        <xs:sequence>
            <xs:element ref="RequestID" minOccurs="1" maxOccurs="1" />
            <xs:element ref="TimeStamp" minOccurs="0" maxOccurs="1" />
            <xs:element ref="Application" minOccurs="0" maxOccurs="1" />
            <xs:element ref="Procedure" minOccurs="0" maxOccurs="1" />
            <xs:element ref="DataType" minOccurs="0" maxOccurs="1" />
            <xs:element ref="Scenario" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    
    <!-- @changed 2010-07-12 1.2 MS - Removed attribute 'abstract' -->
    <xs:complexType name="ResponseDetailsType">
        <xs:sequence>
            <xs:element ref="ResponseID" minOccurs="1" maxOccurs="1" />
            <xs:element ref="TimeStamp" minOccurs="1" maxOccurs="1" />
            <xs:element ref="Application" minOccurs="0" maxOccurs="1" />
            <xs:element ref="Report" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ReportType">
        <xs:sequence>
            <xs:element ref="Flag" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="highestWeight" type="xcode:WeightCodeType" use="required"/>
    </xs:complexType>

    <xs:complexType name="FlagType">
        <xs:sequence>
            <xs:element ref="Code" minOccurs="1" maxOccurs="1" />
            <xs:element ref="Text" minOccurs="1" maxOccurs="1" />
            <xs:element ref="Stack" minOccurs="0" maxOccurs="1" />
            <xs:element ref="XPath" minOccurs="0" maxOccurs="1" />
            <xs:element ref="Originator" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="weight" type="xcode:WeightCodeType" use="required"/>
    </xs:complexType>
    
    <xs:complexType name="Base64CharSequenceType">
        <xs:simpleContent>
            <xs:extension base="xs:base64Binary"/>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="AnyXMLType">
        <xs:complexContent>
            <xs:extension base="xs:anyType"/>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="XMLFragmentType">
        <xs:complexContent>
            <xs:extension base="AnyXMLType">
                <xs:attribute name="id" type="xs:string" use="optional"/>
                <xs:attribute name="xpath" type="xs:string" use="optional"/>
                <xs:attribute name="documentReference" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="CharSequenceType">
        <xs:simpleContent>
            <xs:extension base="xs:string"/>
        </xs:simpleContent>
    </xs:complexType>
    
    <!-- ElementSequenceType
        @changed 2009-05-05 MS / Set attribute 'processContents' to 'lax'
    -->
    <xs:complexType name="ElementSequenceType">
        <xs:sequence>
            <xs:any namespace="##any" minOccurs="1" maxOccurs="unbounded"  processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="LoggingType">
        <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##local" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SignaturesType">
        <xs:sequence>
            <xs:element ref="ds:Signature" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="DataType">
        <xs:choice>
            <xs:element ref="CharSequence" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="Base64CharSequence" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="ElementSequence" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="AnyXML" minOccurs="1" maxOccurs="1"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="AnyPlugInContainerType">
        <xs:sequence>
            <xs:any namespace="http://www.extra-standard.de/namespace/plugins/1" minOccurs="0"
                maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="TestIndicator" type="xcode:TestIndicatorCodeType"/>
    <xs:element name="Name" type="TextType"/>
    <xs:element name="ReceiverID" type="ClassifiableIDType"/>
    <xs:element name="SenderID" type="ClassifiableIDType"/>
    <xs:element name="RequestID" type="ClassifiableIDType"/>
    <xs:element name="ResponseID" type="ClassifiableIDType"/>
    <xs:element name="TimeStamp" type="xs:dateTime"/>
    <xs:element name="Scenario" type="ScenarioType"/>
    <xs:element name="Procedure" type="SimpleNameType"/>
    <xs:element name="DataType" type="xcode:DataTypeCodeType"/>
    <xs:element name="Product" type="TextType"/>
    <xs:element name="Manufacturer" type="SimpleStringType"/>
    <xs:element name="RegistrationID" type="ClassifiableIDType"/>
    <xs:element name="ComponentID" type="SimpleStringType"/>
    <xs:element name="ProcessID" type="ProcessIDType"/>
    
    <xs:element name="Code" type="FlagCodeType"/>
    <xs:element name="Text" type="TextType"/>
    <xs:element name="Stack" type="TextType"/>
    <xs:element name="XPath" type="TextType"/>
    <xs:element name="Originator" type="TextType"/>
    
    <xs:element name="Application" type="ApplicationType"/>
    <xs:element name="Report" type="ReportType"/>
    <xs:element name="Flag" type="FlagType"/>
    <xs:element name="Receiver" type="ReceiverType"/>
    <xs:element name="Sender" type="SenderType"/>
    <xs:element name="RequestDetails" type="RequestDetailsType"/>
    <xs:element name="ResponseDetails" type="ResponseDetailsType"/>
    
    <xs:element name="AnyXML" type="AnyXMLType"/>
    <xs:element name="Base64CharSequence" type="Base64CharSequenceType"/>
    <xs:element name="CharSequence" type="CharSequenceType"/>
    <xs:element name="ElementSequence" type="ElementSequenceType"/>
    <xs:element name="Data" type="DataType"/>
    
    <xs:element name="XMLFragment" type="XMLFragmentType"/>
    <xs:element name="Property" type="PropertyType"/>
    
    <xs:element name="Signatures" type="SignaturesType"/>
    
    <!-- TransformedData
        @created 2009-05-04 MS
    -->
    <xs:element name="TransformedData" type="xplg:TransformedDataType"/>
    
</xs:schema>
